/* font-family: 'Figtree', sans-serif; */
/* font-family: 'Outfit', sans-serif; */
:root {
  --primary: hsl(47, 88%, 63%);
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 50%);
  --Black: hsl(0, 0%, 7%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: var(--primary);
}
svg {
  width: 100%;
  height: auto;
  margin: auto;
  border-radius: 16px;
}
main {
  text-align: center;
  padding: 1%;
  background-color: white;
  margin: 3rem auto;
  width: 90%;
  border-radius: 20px;
  box-shadow: 12px 12px 2px;
}
.alignLeft {
  text-align: left;
}
h1 {
  background-color: var(--primary);
  padding: 5px 10px;
  font-size: 16px;
}
h1,
h2 {
  font-family: "Outfit", sans-serif;
  width: fit-content;
}
h2:hover{
  color: var(--primary);
  cursor: pointer;
}
p {
  font-size: 16px;
  color: grey;
  font-family: "Outfit", sans-serif;
}
img {
  vertical-align: middle;
}
span {
  font-family: "Figtree", sans-serif;
  font-weight: 800;
}
main:hover{
  box-shadow: 16px 16px 2px;
}
@media screen and (min-width:720px) {
  main{
    margin-top: 6rem;
    width: 50vw;
  }
}
@media screen and (min-width:1080px) {
  main{
    margin-top: 12rem;
    width: 25vw;
  }
}